<section class='card'>
    <a href="/comment/{{id}}">
        <header>{{title}} Posted by {{creator}} on {{format_date date_created}} with {{loggedIn}}</header>
    </a>
    <h2 class='card-body'>{{content}}</h2>
</section>