<section class="card">
    <header>{{blog.title}}</header>
    <h1>{{blog.content}}</h1>
    <h2>Created by: {{blog.creater}} on {{blog.date_created}}</h2>
</section>

<section class="flex-row justify-center">
    {{#each blog.comments as | comment|}}
     <header>{{post_comment}} by {{post_user}}</header>
     <p></p>
    {{/each}}
</section>